
body {
    background-color: grey;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.descrition {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.born, .city{
    color:antiquewhite ;
}

.sub-title{
    font-size: 3vw;

}
